@use "@/styles/mixins" as *;
@use "@/styles/variables.module" as *;

.box {
  color: $primary-color;
}

.small-box {
  width: 150px;
  height: 195px;
}

.medium-box {
  width: 350px;
  height: 250px;
}

.large-box {
  width: 600px;
  height: 350px;
}

.box-container {
  overflow: hidden;
  display: inline-block;
  position: relative;
  flex-shrink: 0;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
  }
  span {
    width: 100%;
    height: 100%;
    color: $primary-color;
  }
}

.small-box-absolute {
  pointer-events: none;
  font-size: 11px;
  width: 150px;
  height: 195px;
  padding: 5px 5px;
  .btns {
    justify-content: space-between;
    pointer-events: all;
  }
  .btn-watchlist {
    font-size: 1.5rem;
  }
  .btn-see {
    padding: 1px 4px;
  }
}

.medium-box-absolute {
  pointer-events: none;
  width: 350px;
  height: 250px;
  padding: 15px 10px;
  .btns {
    justify-content: space-between;
    pointer-events: all;
  }
  .btn-watchlist {
    font-size: 2rem;
  }
  .btn-see {
    padding: 3px 8px;
  }
}

.large-box-absolute {
  pointer-events: none;
  width: 600px;
  height: 350px;
  padding: 15px 10px;
  .btns {
    justify-content: flex-end;
    gap: 10px;
    pointer-events: all;
  }
  .btn-watchlist {
    font-size: 2rem;
  }
  .btn-see {
    padding: 3px 8px;
  }
}

.box-container-absolute {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 9;
  color: $primary-color;
  top: 0;
  justify-content: flex-end;

  &::before {
    content: "";
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    margin: 0 auto;
    background-color: black;
  }
  > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 70%;
    z-index: 10;
  }
}

.btns {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.btn {
  background-color: $red-color;
  color: $primary-color;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  font-weight: 600;
}
.btn-see {
  border-radius: 15px;
  padding: 5px 10px;
  &:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #fff;
    right: -40px;
    top: -40px;
    transform: rotate(37deg);
    transition: all 0.3s;
    opacity: 0.5;
  }

  &:hover:before {
    right: 125%;
  }
}

.btn-watchlist {
  border-radius: 50%;
  &:hover {
    color: rgb(43, 42, 42);
  }
}

@include respond(extraSmall) {
  .small-box {
    width: 100px;
    height: 135px;
  }
  .medium-box {
    width: 150px;
    height: 100px;
  }
  .large-box {
    width: 220px;
    height: 150px;
  }
  .small-box-absolute {
    pointer-events: all;
    font-size: 9px;
    width: 100px;
    height: 135px;
    padding: 5px 5px;
    .btns {
      display: none;
    }
    .btn-watchlist {
      font-size: 2rem;
    }
    .btn-see {
      padding: 3px 8px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .medium-box-absolute {
    pointer-events: all;
    font-size: 9px;
    width: 150px;
    height: 100px;
    padding: 5px 5px;
    .btns {
      display: none;
    }
    .btn-watchlist {
      font-size: 1.5rem;
    }
    .btn-see {
      padding: 1px 4px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .large-box-absolute {
    pointer-events: all;
    width: 220px;
    height: 150px;
    padding: 5px 5px;
    .btns {
      justify-content: flex-end;
      gap: 10px;
    }
    .btn-watchlist {
      font-size: 2rem;
    }
    .btn-see {
      padding: 3px 8px;
    }
  }
}

@include respond(small) {
  .small-box {
    width: 100px;
    height: 135px;
  }

  .medium-box {
    width: 170px;
    height: 120px;
  }

  .large-box {
    width: 220px;
    height: 150px;
  }

  .small-box-absolute {
    pointer-events: all;
    font-size: 9px;
    width: 100px;
    height: 135px;
    padding: 5px 5px;
    .btns {
      display: none;
    }
    .btn-watchlist {
      font-size: 1.5rem;
    }
    .btn-see {
      padding: 2px 4px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .medium-box-absolute {
    pointer-events: all;
    font-size: 9px;
    width: 170px;
    height: 120px;
    padding: 5px 5px;
    .btns {
      display: none;
    }
    .btn-watchlist {
      font-size: 1.5rem;
    }
    .btn-see {
      padding: 1px 4px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .large-box-absolute {
    pointer-events: all;
    width: 220px;
    height: 150px;
    padding: 5px 5px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  .small-box {
    width: 150px;
    height: 195px;
  }
  .small-box-absolute {
    font-size: 9px;
    width: 150px;
    height: 195px;
    padding: 5px 5px;
    .btns {
      justify-content: space-between;
    }
    .btn-watchlist {
      font-size: 1.5rem;
    }
    .btn-see {
      padding: 1px 4px;
    }
  }
  .large-box {
    width: 320px;
    height: 220px;
  }
  .large-box-absolute {
    width: 320px;
    height: 220px;
    padding: 10px 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
}
@include respond(extraLarge) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
