@use "@/styles/variables.module" as *;

.box {
  color: $primary-color;
}

.box-container {
  overflow: hidden;
  display: inline-block;
  position: relative;
  flex-shrink: 0;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
  }
  span {
    width: 100%;
    height: 100%;
    color: $primary-color;
  }
}

.box-container-absolute {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 9;
  color: $primary-color;
  top: 0;
  justify-content: flex-end;

  &::before {
    content: "";
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    margin: 0 auto;
    background-color: black;
  }
  > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
    width: 70%;
    z-index: 10;
  }
}

.btns {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.btn {
  background-color: $red-color;
  color: $primary-color;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
  font-weight: 600;
}
.btn-see {
  border-radius: 15px;
  padding: 5px 10px;
  &:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #fff;
    right: -40px;
    top: -40px;
    transform: rotate(37deg);
    transition: all 0.3s;
    opacity: 0.5;
  }

  &:hover:before {
    right: 125%;
  }
}

.btn-watchlist {
  border-radius: 50%;
  &:hover {
    color: rgb(43, 42, 42);
  }
}
