@use "mixins" as *;
@use "variables.module" as *;

.genre-movie-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
  color: $primary-color;
}

.genre-movie-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.loader {
  width: 100%;
  margin-top: 10px;
}

@include respond(extraSmall) {
}

@include respond(small) {
}
/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
}

@include respond(extraLarge) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
