@use "mixins" as *;
@use "variables.module" as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $primary-background-color;
  margin: 0;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@include respond(extraSmall) {
  html {
    font-size: 11px;
  }
}

@include respond(small) {
  html {
    font-size: 12px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  html {
    font-size: 13px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
}
@include respond(extraLarge) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
