@use "variables.module" as *;
@use "mixins" as *;

.home-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  color: $primary-color;
  width: 80%;
  > *:first-child {
    margin-top: 100px;
  }
}
