@use "@/styles/mixins" as *;
@use "@/styles/variables.module" as *;

.movie-container {
  margin-top: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 50px;
  color: white;
  z-index: 10;
  h1 {
    font-size: 3rem;
  }
}

.movie-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 590px;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.6;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    $primary-background-color
  );
}
.movie-image-content {
  top: 0;
  margin-top: 50px;
  font-size: 1.5rem;
  position: absolute;
  gap: 20px;
  height: 100%;
  display: flex;
  color: $primary-color;
  flex-direction: column;
  justify-content: flex-end;
}

.title-container {
  display: flex;
  justify-content: space-between;
}
.genre-container {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;

  color: $secondary-color;
  & > * {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 30px;
    border-radius: 10px;
    background-color: $primary-color;
  }
}
.title {
  color: $secondary-color;
}

.box-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: $secondary-color;
  border-radius: 10px;
  padding: 10px;
  background-color: $primary-color;
}

.box-container {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.box-content-container {
  width: 200px;
  height: 120px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(48, 47, 47);
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cast-container {
  display: flex;
  column-gap: 5px;
  row-gap: 40px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.cast-content-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  align-items: center;
}
.cast-img-container {
  width: 100px;
  height: 100px;

  span {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: calc(100% / 1.5) !important;
    background-repeat: no-repeat;
    background-position: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.creator-container {
  display: flex;
  gap: 10px;
}
.creator-content-container {
  display: flex;
  gap: 20px;
}

@include respond(extraSmall) {
  .movie-image-container {
    height: fit-content;
    img {
      height: 400px;
    }
  }

  .genre-container {
    gap: 5px;
  }

  .box-container {
    gap: 5px;
    > * {
      width: 150px;
      height: 70px;
    }
  }

  .content-container {
    gap: 5px;
  }
  .cast-content-container {
    width: 60px;
  }
  .cast-img-container {
    width: 50px;
    height: 50px;
  }
}

@include respond(small) {
  .movie-image-container {
    height: fit-content;
    img {
      height: 400px;
    }
  }
  .genre-container {
    gap: 5px;
  }

  .box-container {
    > * {
      width: 150px;
      height: 70px;
    }
  }
  .box-icon {
    width: 50px;
    height: 50px;
  }
  .content-container {
    gap: 5px;
  }
  .cast-content-container {
    width: 80px;
  }
  .cast-img-container {
    width: 70px;
    height: 70px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@include respond(medium) {
  .cast-content-container {
    width: 100px;
  }
  .cast-img-container {
    width: 90px;
    height: 90px;
  }

  .box-container {
    > * {
      width: 150px;
      height: 100px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@include respond(large) {
}

@include respond(extraLarge) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@include respond(wide) {
}
