@use "@/styles/variables.module" as *;

.container {
  width: 100%;
  position: fixed;
  background-color: $primary-background-color;
  color: $primary-color;
  z-index: 999;
}

.container-transparent {
  backdrop-filter: blur(4px);
  background: rgba(000, 000, 000, 0.5);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 75px;
  margin: 0 auto;
  transition: height 200ms;

  a {
    &:hover {
      cursor: pointer;

      &::after {
        content: "";

        position: absolute;
        width: 50px;
        height: 2px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      background-color: $primary-color;
      height: 3px;
      transition: width 200ms;
    }
  }
}

.navbar-fixed {
  height: 50px;
}

.categories-container {
  display: flex;
  gap: 30px;
  align-items: center;

  a {
    color: $secondary-color;
    text-decoration: none;
  }

  .btn {
    font-size: 2.3rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu-selected {
  h3 {
    color: $primary-color;
  }
}

.menu-title {
  h2 {
    color: $primary-color;
  }
}
